@font-face {
    font-family: canopee;
    src: url(./assets/Canopee.ttf);
}
@font-face {
    font-family: domaine;
    src: url(./assets/Domaine.ttf.ttf);
}

@font-face {
    font-family: editorial;
    src: url(./assets/Editorial.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    width: 100vw;
    height: 100vh;
    background-color: #C3BBB2;
    position: relative;
}
#nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #76716C;
    opacity: 0.8;

}
#nav img{
    height: 30px;
 width: 30%;
}
#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
    color: #1C1C19;
}
#nav i{
    width: 30%;
    text-align: right;
    color: #1C1C19;
    
}
#elems{
    /* background-color: red; */
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    

}
#elem1{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
 
 
}
#elem2{
    width: 30%;
    height: 100%;
    /* background-color: rgba(106, 170, 104, 0.87); */
    border-left: 1px solid #76716C;
    border-right: 1px solid #76716C;
    padding: 10px 10px;
    text-align: center;
    margin:30px;

}
#elem3{
    width: 30%;
    height: 100%;
 
    /* background-color: rgba(130, 192, 228, 0.829); */
}
#elem1 #img-div{
    height: 55%;
    width: 100%;
    overflow: hidden;
    border: 1px #1d1d1b solid ;
}
#elem3 #img-div{
    height: 55%;
    width: 100%;
    overflow: hidden;
    border: 1px #1d1d1b solid ;


}
#img-div img{
    height: 100%;width: 100%;
    object-fit: cover;
    transition: all ease 0.4s;
}
#img-div:hover img{
    scale: 1.1;
    
}
#elem1 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee ;
    color: #1C1C19;
}
#elem1 h4 span{
    background-color: #B63C12;
    color: #C3BBB2;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px; 
    margin-left: 5px;

}
#elem1 p{
    font-family: editorial;
    font-size: 17px;
    font-weight: 100;
    color: #1d1d1b;
}
#elem3 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee ;
    color: #1C1C19;
}
#elem3 h4 span{
    background-color: #B63C12;
    color: #C3BBB2;
    font-weight: 100;
    font-size: 17px;
    padding: 4px;
    border-radius: 5px;
    margin-left: 5px;

}
#elem3 p{
    font-family:editorial;
    font-size: 16px;
    font-weight: 100;
    color: #1d1d1b;
}
#elem2 h2{
  font-family: canopee;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: -2px;
  margin: 10px;

}
#elem2 h3{
    font-family: domaine;
    font-size: 40px;
    font-weight: 80;
    color: #1d1d1b;
    letter-spacing: -2px;
    line-height: 40px;
    /* margin-top: 20px; */
    margin: 20px 10px;
  }
  #elem2 h6{
    font-family: editorial;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0;
  }
  #elem2 h6 span{
    font-family: canopee;
    font-size: 22px;
    font-weight: 100;
  }